


.main-final{

    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top, #2f0537, #840038, #b74808, #ac9c00, #12eb44);;
    padding-top: 200px;
}

.ptag{

    font-size: 30px;
    text-align: center;
    color: white;
}